* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Outfit', sans-serif;
	background-color: hsl(217, 54%, 11%);
}

.card {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: hsl(216, 50%, 16%);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
	border-radius: 15px;


	&__img {
		display: flex;
		flex-direction: column;
	}


	&__text {
		display: flex;
		flex-direction: column;
	}

	&__footer {
		display: flex;
		flex-direction: row;
	}
}











// ## Colors

// ### Primary

// - Soft blue: hsl(215, 51%, 70%)
// - Cyan: hsl(178, 100%, 50%)

// ### Neutral

// - Very dark blue (main BG): hsl(217, 54%, 11%)
// - Very dark blue (card BG): hsl(216, 50%, 16%)
// - Very dark blue (line): hsl(215, 32%, 27%)
// - White: hsl(0, 0%, 100%)
