* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Outfit', sans-serif;
	background-color: hsl(217, 54%, 11%);
}

.card {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 600px;
	width: 350px;
	background-color: hsl(216, 50%, 16%);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
	border-radius: 15px;

	&__img {
		display: flex;
		position: relative;
		flex-direction: column;
		position: relative;
		margin: 30px;

		&-png {
			border-radius: 20px;
			height: 100%;
			width: 100%;

			&:hover {
				opacity: 0.5;
				opacity: 0.5;
				border-radius: 20px;
			}
		}
	}
}

&__view {
	position: absolute;
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.5;
}

&__text {
	display: flex;
	flex-direction: column;
}

&__h2 {
	display: flex;
	margin-left: 30px;
	font-size: 22px;
	color: white;

	&:hover {
		color: hsl(178, 100%, 50%);
	}
}

&__p {
	display: flex;
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 18px;
	color: hsl(215, 51%, 70%);
}

&__ethereum {
	display: flex;
	flex-direction: row;
}

&__eth {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	margin-left: 30px;
	color: hsl(178, 100%, 50%);
}

&__clock {
	display: flex;
	margin-top: 20px;
	margin-inline-start: auto;
	margin-right: 30px;
	color: hsl(215, 51%, 70%);
	&:hover {
		color: hsl(178, 100%, 50%);
	}
}
&_clockicon {
	display: flex;
	flex-direction: row;
}

&__line {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 290px;
	margin-top: 25px;
	border: 1px solid hsl(215, 51%, 70%);
}

&__footer {
	display: flex;
	flex-direction: row;
	color: hsl(215, 51%, 70%);

	&-avatar {
		display: flex;
		width: 35px;
		border: 1px solid white;
		border-radius: 50%;
		margin-top: 20px;
		margin-left: 30px;
	}

	&-p {
		display: flex;
		margin-top: 26px;
		margin-left: 18px;

		span {
			display: flex;
			color: hsl(0, 0%, 100%);

			&:hover {
				color: hsl(178, 100%, 50%);
			}
		}
	}
}

.card__img-png:hover + .card__view {
	display: block;
}

// ## Colors

// ### Primary

// - Soft blue: hsl(215, 51%, 70%)
// - Cyan: hsl(178, 100%, 50%)

// ### Neutral

// - Very dark blue (main BG): hsl(217, 54%, 11%)
// - Very dark blue (card BG): hsl(216, 50%, 16%)
// - Very dark blue (line): hsl(215, 32%, 27%)
// - White: hsl(0, 0%, 100%)
